{% extends "core/base.html" %}
{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'bartender:home' %}">Strona główna</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'bartender:storage_ingredient_list' %}">Magazyn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'bartender:drink_list' %}">Drinki</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'bartender:orders_list' %}">Kolejka zamówień</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'bartender:history_orders_list' %}">Historia zamówień</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Propozycje drinków</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Statystyki</a>
  </li>
{% endblock %}