{% extends "bartender/base.html" %}
{% block title %}Lista użytkowników{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 title">Data</div>
            <div class="col-lg-6 title">Utarg</div>
          </div>
          <hr>
          <div class="row py-1 border-bottom">
            <div class="col-lg-6 title">19.01.2022</div>
            <div class="col-lg-6 title">5120</div>
          </div>
          <div class="row py-1 border-bottom">
            <div class="col-lg-6 title">20.01.2022</div>
            <div class="col-lg-6 title">3010</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}