{% extends "customer/base.html" %}
{% load static %}
{% block title %}Strona główna - bartender{% endblock %}

{% block content %}
  {% include "core/baner.html" %}

  <div class="row">
    <h4>Szybka instrukcja co i jak. </h4>
  </div>
  <div class="row pt-4 justify-content-center">

    <div class="col-lg-4 col-12 my-2">
      <div class="card h-100">
        <div class="card-body text-center d-flex justify-content-center align-items-center">
          <p class="d-flex flex-column font-weight-normal">
            W <a href="{% url 'customer:menu' %}">Menu</a> dostępne są Drinki które barman może ci przygotować
            (te na które aktualnie nie ma składników są ukryte) oraz piwa i inne rzeczy które możesz u nas zamówić.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 my-2">
      <div class="card h-100">
        <div class="card-body text-center d-flex justify-content-center align-items-center">
          <p class="d-flex flex-column font-weight-normal">
            W <a href="{% url 'customer:orders_list' %}">Aktualne Zamówienia</a> możesz zobaczyć aktualnie realizowane
            zamówienia i ich status. Barman może odrzucić twoje zamówienie, ty sam też możesz je anulować ale tylko
            wtedy kiedy ma status "utworzono".</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 my-2">
      <div class="card h-100">
        <div class="card-body text-center d-flex justify-content-center align-items-center">
          <p class="d-flex flex-column font-weight-normal">
            W <a href="{% url 'customer:history_orders_list' %}">Historia Zamówień</a> znajdują się już
            zrealizowane zmaówienie oraz anulowane przez ciebie i odrzucone przez barmana.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 my-2">
      <div class="card h-100">
        <div class="card-body text-center d-flex justify-content-center align-items-center">
          <p class="d-flex flex-column font-weight-normal">
            W <a href="{% url 'customer:set_table' %}">Zmien stolik</a> określasz przy jakim stoliku aktualnie siedzisz.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}