{% extends "bartender/base.html" %}
{% load static %}
{% block title %}Kolejka Zamówień{% endblock %}


{% block content %}
  <div class="row justify-content-center"><h3>Aktualne Zamówienia</h3></div>

  {# orders with status in progress #}
  <div class="row">
    <h4>W trakcie przygotowania ({{ orders_in_progress.count }})
      <button class="btn btn-default collapseButton" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseInProgress"
              aria-expanded="false" aria-controls="collapseInProgress">
        Pokaż/Ukryj
      </button>
    </h4>
  </div>
  <div class="collapse collapseItem" id="collapseInProgress">
    <div class="row">
      {% for order in orders_in_progress %}
        {% include "bartender/orders/list_queue_ingredient_detail.html" %}
      {% empty %}
        <div class="col text-center">
          <blockquote class="blockquote-footer justify-content-center">Brak zamówień</blockquote>
        </div>
      {% endfor %}
    </div>
  </div>
  {# END of in progress orders #}

  {# orders with status accepted #}
  <div class="row">
    <h4>Zaakceptowane ({{ orders_accepted.count }})
      <button class="btn btn-default collapseButton" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseAccepted"
              aria-expanded="false" aria-controls="collapseAccepted">
        Pokaż/Ukryj
      </button>
    </h4>
  </div>
  <div class="collapse collapseItem" id="collapseAccepted">
    <div class="row">
      {% for order in orders_accepted %}
        {% include "bartender/orders/list_queue_ingredient_detail.html" %}
      {% empty %}
        <div class="col text-center">
          <blockquote class="blockquote-footer justify-content-center">Brak zamówień</blockquote>
        </div>
      {% endfor %}
    </div>
  </div>
  {# END of accepted orders #}

  {# orders with status created #}
  <div class="row">
    <h4>Utworzone ({{ orders_created.count }})
      <button class="btn btn-default collapseButton" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseCreated"
              aria-expanded="false" aria-controls="collapseCreated">
        Pokaż/Ukryj
      </button>
    </h4>
  </div>
  <div class="collapse collapseItem" id="collapseCreated">
    <div class="row">
      {% for order in orders_created %}
        {% include "bartender/orders/list_queue_ingredient_detail.html" %}
      {% empty %}
        <div class="col text-center">
          <blockquote class="blockquote-footer justify-content-center">Brak zamówień</blockquote>
        </div>
      {% endfor %}
    </div>
  </div>

  {# END of created orders #}

{% endblock %}
{% block js %}
  <script src="{% static 'js/plugins/sweetalert2.all.min.js' %}"></script>
  <script src="{% static 'js/bartender/value_memory.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/bartender/api_method.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
      setCollapseElementShow()
  </script>
{% endblock %}