{% extends "customer/base.html" %}
{% load static %}
{% block title %}Historia zamówień{% endblock %}


{% block content %}
  <div class="row">
    <p>Tutaj jakieś Filtry w planie</p>
  </div>
  <div class="row justify-content-center"><h3>Drinki</h3></div>
  <div class="row">
    {% for drink in drinks %}
      <div class="col-12 col-lg-4 d-flex align-items-stretch">
        <div class="card rounded" style="font-size:2vmin">
          <div class="card-body text-center core_image_frame">
            {% if drink.drink.image %}
              <img class="card-img-top core_image_sizes" src="{{ drink.drink.image.url }}" alt="{{ drink.drink.name }}">
            {% else %}
              <img class="card-img-top core_image_sizes" src="{% static 'img/no-image-available.jpg' %}"
                   alt="No image available">
            {% endif %}
          </div>
          <div class="card-body">
            <div class="card-text">Nazwa: <p>{{ drink.name }}</p></div>
            <div class="row">
              <div class="col-6">Data zamówienia: <p>{{ drink.order_date }}</p></div>
              <div class="col-6">Status: <p>{{ drink.get_status_display }}</p></div>
            </div>
            <div class="card-text">Składniki:
              {% for ingredeint in drink.drink.ingredient_needed.all %}
                <p>- {{ ingredeint.storage_ingredient.name }}</p>
              {% empty %}
                <p>Nie przypisano składników</p>
              {% endfor %}
            </div>
            <div class="card-text">
              <div class="row">
                <div class="col-6">Typ: <p>{{ drink.drink.get_type_display }}</p></div>
                <div class="col-6">Cena: <p>{{ drink.drink.price }}</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col text-center">
        <blockquote class="blockquote-footer justify-content-center">Brak zamówień</blockquote>
      </div>
    {% endfor %}
  </div>

  <div class="row justify-content-center"><h3>Inne zamówienia</h3></div>
  <div class="row">
    {% for drink in other_orders %}
      <div class="col-12 col-lg-6 d-flex align-items-stretch">
        <div class="card rounded" style="font-size:2vmin">
          <div class="card-body text-center core_image_frame">
            {% if drink.drink.image %}
              <img class="card-img-top core_image_sizes" src="{{ drink.drink.image.url }}" alt="{{ drink.drink.name }}">
            {% else %}
              <img class="card-img-top core_image_sizes" src="{% static 'img/no-image-available.jpg' %}"
                   alt="No image available">
            {% endif %}
          </div>
          <div class="card-body">
            {#            <div class="row">#}
            {#              <div class="col-6">Nazwa: <p>{{ drink.drink.name }}</p></div>#}
            {#              <div class="col-6">Status: <p>{{ drink.get_status_display }}</p></div>#}
            {#            </div>#}
            {#            <div class="card-text">Składniki:#}
            {#              {% for ingredeint in drink.drink.ingredient_needed.all %}#}
            {#                <p>- {{ ingredeint.storage_ingredient.name }}</p>#}
            {#              {% empty %}#}
            {#                <p>Nie przypisano składników</p>#}
            {#              {% endfor %}#}
            {#            </div>#}
            {#            <div class="card-text">#}
            {#              <div class="row">#}
            {#                <div class="col-6">Typ: <p>{{ drink.drink.get_type_display }}</p></div>#}
            {#                <div class="col-6">Cena: <p>{{ drink.drink.price }}</p></div>#}
            {#              </div>#}
            {#            </div>#}
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col text-center">
        <blockquote class="blockquote-footer justify-content-center">Brak zamówień</blockquote>
      </div>
    {% endfor %}
  </div>
{% endblock %}