{% extends "customer/base.html" %}
{% load static %}
{% block title %}Drink{% endblock %}


{% block content %}
  <div class="row">
    <p>Tutaj jakieś Filtry w planie</p>
  </div>
  <div class="row justify-content-center"><h3>Drinki</h3></div>
  <div class="row">
    {% for drink in drinks %}
      <div class="col-12 col-lg-6 d-flex align-items-stretch">
        <div class="card rounded" style="font-size:2vmin">
          <div class="card-body text-center">
            {% if drink.drink.image %}
              <img class="card-img-top" src="{{ drink.drink.image.url }}" alt="{{ drink.drink.name }}"
                   style="max-height: 15vw; width: auto">
            {% else %}
              <img class="card-img-top" src="{% static 'img/no-image-available.jpg' %}" alt="No image available"
                   style="max-height: 15vw; width: auto">
            {% endif %}
          </div>
          <div class="card-body">
            {% if drink.is_created %}
              <div class="card-text text-center">
                <button type="submit" onclick="PromptCancelOrderedDrink({{ drink.id }})" class="btn btn-warning">Anuluj
                </button>
              </div>
            {% endif %}
            <div class="row">
              <div class="col-6">Nazwa: <p>{{ drink.drink.name }}</p></div>
              <div class="col-6">Status: <p>{{ drink.get_status_display }}</p></div>
            </div>
            <div class="card-text">Składniki:
              {% for ingredeint in drink.drink.ingredient_needed.all %}
                <p>- {{ ingredeint.storage_ingredient.name }}</p>
              {% empty %}
                <p>Nie przypisano składników</p>
              {% endfor %}
            </div>
            <div class="card-text">
              <div class="row">
                <div class="col-6">Typ: <p>{{ drink.drink.get_type_display }}</p></div>
                <div class="col-6">Cena: <p>{{ drink.drink.price }}</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col text-center">
        <blockquote class="blockquote-footer justify-content-center">Brak zamówień</blockquote>
      </div>
    {% endfor %}
  </div>

  <div class="row justify-content-center"><h3>Inne zamówienia</h3></div>
  <div class="row">
    {% for drink in other_orders %}
      <div class="col-12 col-lg-6 d-flex align-items-stretch">
        <div class="card rounded" style="font-size:2vmin">
          <div class="card-body text-center">
            {% if drink.drink.image %}
              <img class="card-img-top" src="{{ drink.drink.image.url }}" alt="{{ drink.drink.name }}"
                   style="max-height: 15vw; width: auto">
            {% else %}
              <img class="card-img-top" src="{% static 'img/no-image-available.jpg' %}" alt="No image available"
                   style="max-height: 15vw; width: auto">
            {% endif %}
          </div>
          <div class="card-body">
            {% if drink.is_created %}
              <div class="card-text text-center">
                <button type="submit" onclick="PromptCancelOrderedDrink({{ drink.id }})" class="btn btn-warning">Anuluj
                </button>
              </div>
            {% endif %}
            {#            <div class="row">#}
            {#              <div class="col-6">Nazwa: <p>{{ drink.drink.name }}</p></div>#}
            {#              <div class="col-6">Status: <p>{{ drink.get_status_display }}</p></div>#}
            {#            </div>#}
            {#            <div class="card-text">Składniki:#}
            {#              {% for ingredeint in drink.drink.ingredient_needed.all %}#}
            {#                <p>- {{ ingredeint.storage_ingredient.name }}</p>#}
            {#              {% empty %}#}
            {#                <p>Nie przypisano składników</p>#}
            {#              {% endfor %}#}
            {#            </div>#}
            {#            <div class="card-text">#}
            {#              <div class="row">#}
            {#                <div class="col-6">Typ: <p>{{ drink.drink.get_type_display }}</p></div>#}
            {#                <div class="col-6">Cena: <p>{{ drink.drink.price }}</p></div>#}
            {#              </div>#}
            {#            </div>#}
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col text-center">
        <blockquote class="blockquote-footer justify-content-center">Brak zamówień</blockquote>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block js %}
  <script src="{% static 'js/plugins/sweetalert2.all.min.js' %}"></script>
  <script src="{% static 'js/customer/api_method.js' %}" type="text/javascript"></script>
{% endblock %}