{% extends "bartender/base.html" %}
{% load static %}
{% block title %}Magazyn {% endblock %}


{% block content %}
  <div class="row">
    <a class="btn btn-primary" href="{% url 'bartender:create_drink' %}">DODAJ</a>
  </div>
  <div class="row">
    <p>Tutaj jakieś Filtry w planie</p>
  </div>
  <div class="row">
    {% for drink in drinks %}
      <div class="col-6 col-lg-3 d-flex align-items-stretch">
        <div class="card rounded" style="font-size:2vmin">
          <a href="{% url 'bartender:detail_drink' drink.pk %}" style="text-decoration: none; color:inherit">
            <div class="text-center">
              {% if drink.image %}
                <img class="card-img-top" src="{{ drink.image.url }}" alt="{{ drink.name }}"
                     style="max-height: 15vw; width: auto">
              {% else %}
                <img class="card-img-top" src="{% static 'img/no-image-available.jpg' %}" alt="No image available"
                     style="max-height: 15vw; width: auto">
              {% endif %}
            </div>
            <div class="card-body">
              <div class="card-text">Nazwa: <p>{{ drink.name }}</p></div>
              <div class="card-text">Typ: <p>{{ drink.get_type_display }}</p></div>
              <div class="card-text">Skomplikowanie: <p>{{ drink.get_complicated_display }}</p></div>
              <div class="card-text">Cena: <p>{{ drink.price }}</p></div>
              <div class="card-text">Do zrobienia?: <p>{% if drink.is_possible_to_make %} Tak {% else %}
                Nie {% endif %}</p></div>
              <div class="card-text">Data utworzenia: <p>{{ drink.date_creation }}</p></div>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}